<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369199371889-0vpac45n9vgrkglk6qet71bcrinmel17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369199371889-0vpac45n9vgrkglk6qet71bcrinmel17</string>
	<key>API_KEY</key>
	<string>AIzaSyChoLTQAuXl86r4vIQtGJKgux--vsz7UqE</string>
	<key>GCM_SENDER_ID</key>
	<string>369199371889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drcoderz.toursy</string>
	<key>PROJECT_ID</key>
	<string>toursy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>toursy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369199371889:ios:72d3c900ac784c02112dd0</string>
</dict>
</plist>